name: test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20.x"
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: |
          cd examples/nextjs
          npm ci
          npm run build
      - run: |
          cd examples/nodejs
          npm ci
          npm run build
          npm run start
